# --- Database Configuration for Docker ---
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=payment_db

# --- Application Settings ---
# Format: postgresql+asyncpg://[user]:[password]@[host]:[port]/[db_name]
DATABASE_URL=postgresql+asyncpg://user:password@postgers_db:5432/payment_db

# --- App Metadata ---
APP_TITLE="Payment Service"
APP_VERSION=1