# База данных
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=payment_db

# Для работы внутри Docker
DATABASE__DSN=postgresql+asyncpg://user:password@postgres_db:5432/payment_db
# Для запуска миграций с локальной машины (порт 5440 проброшен в docker-compose)
DATABASE__ALEMBIC_DSN=postgresql+asyncpg://user:password@localhost:5440/payment_db

# Брокер
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Безопасность
API_KEY_HASH="adshvhcfdvuhfduvj"


# Метаданные приложения
APP_TITLE="Payment Service"
APP_VERSION=1